@import "./normalize.css";
@import "./style.css";
@import "./theme.css";

html {
    background-color: var(--base);
}

body {
    font-family: "MonteCarlo", cursive;
    font-weight: 400;
    font-style: normal;
}