
.notification-container{
    display: flex;
    border-radius: 10px;
    position: fixed;
    z-index: 10;
    width: fit-content;
    height: fit-content;
    right: 0;
    top: var(--header-height);
}

.notification-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    width: 100%;
    gap: var(--space-base);
}

.notification-item{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--text);
    padding: 20px;
    border-radius: 10px 0px 0px 10px;
    position: relative;
    animation: showNotification 0.5s forwards;

    &>.close-button{
        transform: translateX(100%);
        position: absolute;
        top: 0;
        right: 0;
        background-color: inherit;
        border-left: 1px solid black;
        aspect-ratio: 1/1;
        height: 100%;
        transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 1s;

        &>svg{
            transform: scale(1);
            transition: transform cubic-bezier(0.165, 0.84, 0.44, 1) 1s;
            height: 90%;
            width: 90%;
        }

        &:hover>svg{
            transform: scale(0.8);
        }

        &:hover{
            filter: brightness(0.8);
        }
    }

    &:hover>.close-button{
        transform: translateX(0);
    }
    
    &>.text-notification{
        color: white;
        font-size: var(--font-xs);
    }

    &.hide{
        animation: hideNotification 0.5s forwards;
    }
}

.message-container{
    height: 100%;
    width: 100%;
    display: grid;
    /* grid-template-columns: repeat(3,1fr); */
    grid-template-columns: auto;
    grid-template-rows: auto;
    column-gap: var(--space-lg);
    row-gap: var(--space-xs);
    justify-content: center;
    align-items: center;

    &>.message-item{
        grid-column: 1/4;
    }

    &>.color-item{
        border-radius: 100%;
        border: 1px solid black;
        width: 30px;
        height: 30px;
        background-color: var(--color-button);
    }

    &>.price-item, &>.name-item{
        font-size: var(--font-xs);
        opacity: 0.8;
    }

    &>*{
        font-size: var(--font-sm);
        text-align: center;
        color: var(--base-shadow);
    }
}



@keyframes showNotification{
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes hideNotification{
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}