#header {
    position: sticky;
    top: 0;

    max-width: var(--desktop);
    width: calc(100% - 2rem);
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-inline: auto;
    padding-inline: 1rem;
    min-height: 4rem;
    background-color: var(--base);
    z-index: 10;
}

.nav-container {
    display: flex;
    height: 100%;
    width: fit-content;
}

.nav-item {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 100%;
    background-color: var(--base);
    transition: background-color ease 0.5s;
}

.nav-item>svg {
    --scale: calc(100% * 0.8);
    --basic-animation: translateY(-4px);
    /* width: var(--scale);
    height: var(--scale);  */
    transition: transform ease 0.2s;
    transform: translateY(0);
}

.search-item>svg{
    --basic-animation: translate(-4px, -4px);
    transform: translate(-4px, 0px);
}

.nav-item:hover {
    background-color: var(--base-shadow);
}

.nav-item:hover>svg {
    transform: var(--basic-animation);
}

.nav-item::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    transition: width cubic-bezier(0.165, 0.84, 0.44, 1) 0.8s;
    background-color: var(--text);
}

.nav-item:hover::after {
    width: 75%;
}

#header>a {
    display: flex;
    align-items: center;
    position: relative;
    width: 90px;
    height: 100%;
}

#header>a>img {
    transition: transform ease 0.3s;
    transform: translateY(0);
}

#header>a:hover>img {
    transform: translateY(-4px);
}

#header>a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0%;
    bottom: 0;
    left: 0;
    transition: width cubic-bezier(0.165, 0.84, 0.44, 1) 0.8s;
    background-color: var(--text);
}

#header>a:hover::after {
    width: 100%;
}

.categories {
    display: flex;
    height: 100%;
    align-items: center;
    color: var(--text);
    font-size: var(--font-lg);
}

.categories>li {
    height: 100%;
}

.categories>li>a {
    background-color: var(--base);
    position: relative;
    padding-inline: calc(var(--space-base));
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    transition: background-color ease 0.5s;
    font-weight: 600;
    font-size: var(--font-sm);
}

.categories>li>a>span {
    transform: translateY(0);
    transition: transform ease 0.3s;
}

.categories>li>a:hover>span {
    transform: translateY(-4px);
}


.categories>li>a:hover {
    background-color: var(--base-shadow);
    cursor: pointer;
}

.categories>li>a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: var(--text);
    transition: width cubic-bezier(0.165, 0.84, 0.44, 1) 0.8s;
}

.categories>li>a:hover::after {
    width: 75%
}

.banner {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    min-height: calc(80vh - var(--header-height) - 1px);
    /* background-image: url("/public/images/background-banner.png"); */
    background-color: var(--base-shadow);
    border-radius: 20px;
}

.banner>.banner-image {
    width: 350px;
    border-radius: 10% 50% 10% 50%;
}

.banner>.banner-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    font-size: var(--font-sm);
    gap: 6px;
}

.buy-button {
    position: relative;
}

.buy-button>svg {
    transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 0.8s;
    transform: translateY(0) scale(1);
    position: relative;
    z-index: 5;
}

.buy-button:hover>svg {
    transform: scale(0.8);
}

.buy-button::after {
    content: "";
    border-radius: 100%;
    background-color: var(--subtext);
    width: 0%;
    height: 0%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: width cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s, height cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
}

.buy-button:hover::after {
    width: 110%;
    height: 110%;
}

.spacer {
    flex: 1;
    position: relative;
    height: 100%;
    background-color: var(--base);
}


#cta-container {
    --cta-icon: 4rem;
    --cta-spacing: 1rem;
    position: fixed;
    bottom: calc(var(--cta-spacing));
    left: calc((100vw - var(--desktop)) / 2 + var(--desktop) - var(--cta-icon) - var(--cta-spacing));

    &>#cta-wrapper {
        position: relative;
    }

    & #cta-message {
        background-color: var(--text);
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        color: var(--base);
        right: 100%;
        bottom: 100%;
        z-index: 10;
        white-space: nowrap;
        padding: 1rem 1.5rem;
        transform-origin: bottom right;
        transform: scale(0);
        opacity: 0;
        transition: transform cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s, opacity cubic-bezier(0.075, 0.82, 0.165, 1) 1.5s;

        &::after {
            content: "";
            position: absolute;
            background-color: var(--text);
            width: 2rem;
            height: 2rem;
            transform: skew(20deg) rotate(10deg);
            border-radius: 3px;
            top: 2rem;
            left: calc(100% - 2rem);
            z-index: -10;
        }
    }
    #cta-button{
        transform: scale(1);
        transition: transform cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;

        &:hover {
            transform: scale(0.9);
        }
    }
}

#cta-wrapper:has(#cta-button:hover)>#cta-message {
   transform: scale(1);
   opacity: 1;
}